/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
   Color Scheme
White #FFFFFF
Blue Grey #90A6A6
Light Blue Grey #EBF2F2
Khaki #A68E80
Almost White F2EEEB
*/

* {
    padding: 0;
    margin: 0;  
    
}
 
    body {
        background: #fff; 
        color:#2d2d2e;
        position: relative;
    }
    header {
        padding: 5% 5% 1% 5%; 
        background: #F2EEEB; 
        border-bottom: solid 2px #a68e80;
    }
    header ul li {
        padding-right: 1em;
        display: inline-block;
        list-style: none;
        font-size: 1.5em;
        
    }
    h2 {
        margin-bottom: 1%; 
        text-shadow: 3px 4px 5px #90a6a6; 
        font-size: 3em;
      
    }
    main {
        width: 70%;
        margin: 0 14%;
    }
    img {
        max-width: 100px;
        display: inline-block;
    }
    img .coverImg  {
        max-width: 300px;
        display: inline-block;
    }
    p .excerpt {
       visibility: hidden;
    }
    p .excerpt:firstline {
        visibility: visible;
    }
    p {
        text-indent: 2em; 
        padding-bottom: 1%;
    }
    table {
        padding:5em;
    }
    td{
        padding: 3em;
    }
    a {
        text-decoration: none; 
        color: inherit;
    }
    a:hover {
        font-weight: bold;
    }
    footer {
        display:block;
        border-top: solid 3px #a68e80;
        position: absolute; 
        width: 100%; 
        padding: 1% 5% 5% 5%; 
        background: #F2EEEB; 
    }
    h3 {
        margin-bottom: 1%; 
        font-size: 2em;

    }

    
    .defineTitle {
        font-variant: small-caps;
        font-size: 1.25em;
        list-style: none;
    }
    .defineAuthor{
        font-style: oblique;
        font-size: 1.12em;
        list-style: none;
    }

